:root {
  --bg: #d6d2c4;
  --fg: #707372;
  --red: #b07c83;
  --blue: #a4c8e1;
}

*::selection {
  background-color: var(--blue);
  color: var(--red);
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Violet", sans-serif;
  line-height: 1.6;
  color: var(--fg);
  background-color: var(--bg);
}

h1,
h2,
h3,
p {
  font-size: clamp(
    var(--fluid-type-min, 1rem),
    calc(1rem + var(--fluid-type-target, 3vw)),
    var(--fluid-type-max, 1.3rem)
  );
}

.nostyle {
  text-decoration: none;
  color: inherit;
}

#title {
  font-family: "Fixedsys", "Times New Roman", Times, serif;

  --fluid-type-min: 2.5rem;
  --fluid-type-max: 10rem;
  --fluid-type-target: 7vw;

  line-height: 0.8;
  word-break: break-all;
}

#Conversations {
  display: none;
}
#Camping {
  display: none;
}
#Working {
  display: none;
}

p {
  --fluid-type-min: 0.3rem;
  --fluid-type-max: 2rem;
  --fluid-type-target: 1vw;
}

.mono {
  font-family: "NotCourier", Courier, monospace;
  
}

.emoticon {
  font-family: "Retromoticons";
  color: var(--red);
  font-size: 4vw;
}

table {
  border-collapse: collapse;
  font-size: 1.4rem;
}
table td {
  vertical-align: top;
  padding: 0 1em;
}

.relative {
  position: relative;
}

caption {
  text-align: left;
}

.abstract::before {
  content: "abstract";
  position: absolute;
  color: var(--red);
  left: -6%;
  top: 2%;
  transform: rotate(-90deg);
}

.timetable {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  width: 96vw;
}
.timetable > div {
  width: 100%;
}

.date {
  color: var(--blue);
  text-shadow: 1px 1px 0 var(--red);
  font-size: 1.7rem;
}

.talk {
  padding: 2rem;
}
.tt-title {
  font-size: 2.3rem;
  font-family: "NotCourier";
  line-height: 0.9;
}
.tt-name {
  font-size: 1.8rem;
  line-height: 0.7;
}
.tt-abstract {
  --fluid-type-min: 1rem;
  --fluid-type-max: 1.5rem;
  --fluid-type-target: 2vw;
  border-left: 2px solid var(--blue);
  padding-left: 0.5rem;
}

.tt-bio {
  --fluid-type-min: 1rem;
  --fluid-type-max: 1.5rem;
  --fluid-type-target: 2vw;
  border-left: 2px solid var(--red);
  padding-left: 0.5rem;
}
.screening::after {
  content: " screening ";
  font-size: 1.4rem;
  color: var(--blue);
}
.concert::after {
  content: " concert";
  font-size: 1.4rem;
  color: var(--blue);
  transform: translateX(-1rem);
}

.endconversation {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register {
  background: var(--red);
  color: var(--bg);
  font-size: 1.8rem;
  text-decoration: none;
  padding: 1rem;
  box-shadow: 2px 2px 0 1px var(--blue);
}
.register:active {
  box-shadow: 0px 0px 0 var(--blue);
}
.dashed {
  border: 3px dashed var(--blue);
  padding: 0.5rem;
}

.dashed-bottom {
  border-bottom: 3px dashed var(--blue);
  padding: 0.5rem;
}
.dashed-top {
  border-top: 3px dashed var(--blue);
  padding: 0.5rem;
}

.suchevents {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
}

.givemesomespace {
  margin: 1rem;
}

.event {
  padding: 1em;
  text-decoration: none;
  color: var(--fg);
}

.event table:hover,
.event table:focus-within {
  cursor: pointer;
  border: 3px solid var(--blue);
  box-shadow: 0 2px 0 4px inset var(--red);
}

.flex-1 {
  flex-grow: 1;
}

.expand {
  width: 100%;
}

.grow {
  height: 100%;
}

.blushing {
  color: var(--blue);
  background: var(--red);
}

a {
  color: var(--red);
}

.display {
  max-width: 1200px;
  padding: 2rem;
  color: var(--bg);
  background: var(--fg);
  margin-top: 10rem;
  box-shadow: 0 2px 3px 4px inset var(--blue);
}

.memory {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.memory > div {
  display: inherit;
  align-items: center;
  flex-direction: column;
}

.endofmessage {
  margin-top: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.supporters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.supporters img {
  margin: 1rem;
  max-width: 150px;
}

.attention {
  color: var(--red);
  background: var(--blue);
}

@media (max-width: 768px) {
  #title {
    height: 200px;
  }
  .suchevents {
    grid-template-columns: 1fr;
    gap: 3em;
    margin-bottom: 10rem;
  }
  .event {
    padding: 0;
  }
  .timetable {
    flex-wrap: wrap;
  }
}

/* collabsible */

input[type="checkbox"] {
  display: none;
}
.wrap-collabsible {
  margin: 1.2rem 0;
}
.lbl-toggle {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.2rem;
  cursor: pointer;
}
.toggle-blue{
  color: var(--blue);
  border: 3px solid var(--blue);
}
.toggle-red{
  color: var(--red);
  border: 3px solid var(--red);
}
.lbl-toggle:hover, .lbl-toggle:focus {
  color: var(--fg);
  border-style: dashed  ;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}
.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 1000vh;
}
.toggle:checked + .lbl-toggle {
  text-align: right;
}
