:root {
  --color-primary: #aa1cfc;
  --color-secondary: #deff00;
}

*::selection {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-radius: 10px;
}

html {

}

body {
  font-family: 'Authentic Sans', sans-serif;
  line-height: 1.6;
  max-width: 1200px;
  color: #eee;
  background-color: var(--color-primary);
}

h1,
h2,
h3,
p {
  font-size: clamp(
    var(--fluid-type-min, 1rem),
    calc(1rem + var(--fluid-type-target, 3vw)),
    var(--fluid-type-max, 1.3rem)
  );
}

h1{
  font-family: 'Noailles Times', 'Times New Roman', Times, serif;
  --fluid-type-min: 2.5rem;
  --fluid-type-max: 5rem;
  --fluid-type-target: 5vw;

  max-width: 15ch;
  margin-bottom: 1.6rem;
  height: 400px;
}

p{
  --fluid-type-min: 1rem;
  --fluid-type-max: 2rem;
  --fluid-type-target: 2vw;
}

table td, table td * {
  vertical-align: top;
  padding-right: 1em;
  font-family: 'Drafting Mono', Courier, monospace;
}

.emoticon {
  font-family: 'Retromoticons';
  color: var(--color-secondary);
  font-size: 4vw;
}

.moreinfo {
  position: absolute;
  top: 3vh;
  right: 3vw;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-radius: 50%;
  padding: 1em;
  width: 15vw;
  height: 15vw;
  font-size: 3vw;
  overflow: hidden;
  text-align: center;
}