:root {
  --bg: #d6d2c4;
  --fg: #707372;
  --red: #b07c83;
  --blue: #a4c8e1;
}

body {
  color: var(--fg);
  background: var(--bg);
}

h1 {
  font-family: "Fixedsys";
}
table {
  font-family: "Violet";
  border: 2px dashed var(--blue);
}

table > td:first-child {
  border-bottom: 2px dashed var(--blue);
}

p {
  font-family: "Violet";
}

.emoticon {
  font-family: "Retromoticons";
  color: var(--red);
}

.dashed {
  border-bottom: 2px dashed var(--blue);
}
