@font-face {
  font-family: "Authentic Sans";
  src: url("AUTHENTICSans-90.woff2") format("woff2"),
       url("AUTHENTICSans-90.woff") format("woff");
}

@font-face {
  font-family: "Drafting Mono";
  src: url("DraftingMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Retromoticons";
  src: url("Retromoticons-RPLv.ttf");
}

@font-face {
  font-family: "Noailles Times";
  src: url("cyber-cycles-font.ttf") format("truetype");
}
